html, body {
  /* font-family: 'Lato', sans-serif; */
  /* color: #09151f; */
  font-smooth: never;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 80vh;
  display: block;
}

.title-container {
  position: absolute;
  top: 40vh;
  transform: translateX(-50%) translateY(calc(-50% - .5px));
  left: 50%;
  z-index: 2;
  min-width: 300px;
}

.tap-gesture {
  position: absolute;
  top: -15vh;
  opacity: 0;
}

h1 {
  font-weight: 700;
  font-size: 5em;
  color: #0d0d13;
  font-family: 'Lato';
}

h2 {
  
  font-size: 5em;
  
}

canvas {
  position: absolute;
  top: 0;
}

main {
  margin-top: 80vh;
  font-family: 'Roboto', sans-serif;
  display: block;
}

.box {
  width: 300px;
  height: 400px;
}

.about, .coursework {
  background-color: #eee;
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
}

section {
  padding-bottom: 40px;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  justify-items: center;
  width: 80vw;
  margin-left: 10vw;
}

.box-debug {
  border: 1px solid blue;
}

.c {
  border: 1px solid red;
}

.about-box-1 {
  padding-left: 35px;
  padding-right: 35px;
  margin: auto;
  padding-bottom: 50px;
}

.main-subtitle {
  font-size: 1.75em;
  font-family: 'Lato';
  font-weight: bold;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.main-desc {
  padding-top: 15px;
  padding-bottom: 25px;
}

.header-subtitle {
  font-size: 1.8em;
  font-family: 'Roboto';
}

.navbar {
  background-color: #ffffff00;
}

a.navbar-item>.icon:not(:last-child) {
  margin-left: -.25em;
  margin-right: .25em;
}

.navbar-text {
  display: inline-block;
  vertical-align: middle;
}

a.navbar-item:hover {
  color: #03A9F4;
}

.stack {
  padding-top: 10px;
}

.js-colour {
  background-color: #f7df1e !important;
}

.node-colour {
  background-color: #66BB6A !important;
}

.vue-colour {
  background-color: #4fc08d !important;
}

.python-colour {
  background-color: #5fb832 !important;
}

.java-colour {
  background-color: #F57C00 !important;
}

.ml-colour {
  background-color: #3D5AFE !important;
}

.ir-colour {
  background-color: #be23da !important;
}

.spring-colour {
  background-color: #8BC34A !important;
}

.tag {
  color: #fff !important;
}

.coursework {
  /* clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0% 100%); */
  padding-bottom: 5em;
}

.card {
  box-shadow: 0 11px 13px 0 rgba(0,0,0,0.09);
  border-radius: 0.25rem;
  overflow: hidden;
}

.profile {
  border: 7px solid #3ca9f5;
  max-width: 256px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.header-menu {
  font-size: 1.25em;
  padding: 10px 15px 10px 15px;
  border: 2px solid #4a4a4a;
  font-weight: 700;
  margin-right: 10px;
  background: #fff;
  transition: all ease-in-out 0.2s;
  text-decoration: none;
  color: #4a4a4a;
}

a {
  
}

.location {
  /* color: #3ca9f5;
  border-bottom: 2px solid #3ca9f5; */
}

.header-menu:hover {
  border: 2px solid #3ca9f5;
  color: #3ca9f5;
  text-decoration: underline #3ca9f5;
  cursor: pointer;
}

.header-menu-group {
  margin-top: 50px;
}

.project-snapshot {
  box-shadow: 0 11px 13px 0 rgba(0, 60, 255, 0.09);
  border-radius: 4px;
  overflow: hidden;
  user-drag: none;
}

.project-info {
  margin-top: 25px;
}

.project-title {
  font-family: 'Lato';
  color: #000;
  font-size: 1.75em;
}

.project-title:hover {
  color: #3ca9f5;
  text-decoration: underline #3ca9f5;
}

.project-link:hover {
  color: #3ca9f5;
}

.footer {
  background-color: #151f24;
}

.footer-button {
  background-color: transparent;
  color: #fff;
  border-radius: 100%;
  margin: 0 1rem;
  height: 47px;
  width: 47px;
  border: 2px solid rgba(255,255,255,0.3);
  transition: ease-in all 0.2s;
}

.footer-button:hover {
  border: 2px solid #fff;
  color: #263238;
  background-color: #fff;
  transform: scale(1.25);
}

.footer-text {
  font-size: 1em;
  font-family: 'Lato';
  font-weight: bold;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255,255,255,0.3);
}

.input-container {
  border-radius: 4px;
  padding: 0.25em;
  background-color: #eee;
  border: 2px solid #eee;
}

input {
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  box-shadow: none !important;
}

textarea {
  display: block;
  background-color: #eee;
  border: 2px solid #eee;
  width: 100%;
  resize: none;
  padding: 7px;
  height: 8em;
  border-radius: 4px;
  margin-bottom: 2.5em;
}

.label {
  margin-top: 10px;
  text-transform: uppercase;
}

.icon-email {
  position: absolute;
  top: 2px;
  left: 7px;
}

.field-active {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.shadow {
  box-shadow: 0 11px 13px 0 rgba(0,0,0,0.09);
}

.form-button:hover {
  background-color: #3ca9f5;
  color: #fff;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@media screen and (min-width: 1088px) {
  .navbar-text {
    display: none;
  }
}
.tap-entrance-anim {
  animation-name: tap-entrance;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-timing-function: ease;
}

@keyframes tap-entrance {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  15% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  18% {
    transform: scale(0.75) perspective(50em) rotateX(45deg) rotateY(-30deg);
  }
  25% {
    transform: scale(1) perspective(0em) rotateX(0deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}